.Addtodowrap{
    width:100%;
    height: 100vh;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Addtodowrap > h2{
font-family: "Raleway";
font-size: 22px;
font-weight: 500;
text-align: center;
margin-bottom: 30px;
}

.formwrap{
    width: 400px;
    height: 60vh;
    padding: 10px;
}

.registertext{
    text-align: center;
    font-family: "Raleway";
    font-size: 12px;
    cursor: pointer;
}



@media only screen and (max-width: 600px){
    .formwrap{
        width: 300px;
    }
}